/* container principal: sidebar + conteúdo */
.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #f6fff9;
  margin: 0;
}

/* sidebar fixa à esquerda */
.sidebar {
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}
